In [187]:
# Import Dependencies for Setup
import pandas as pd

# Load Files
school_data_to_load = "/Users/brianroberts1/Documents/GitHub/pandas_challenge/PyCitySchools/schools_complete_data.csv"
student_data_to_load = "/Users/brianroberts1/Documents/GitHub/pandas_challenge/PyCitySchools/students_complete_data.csv"

# Read the School and Student Data Files and store them into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
    
# Combine data into single dataset
school_data_whole = pd.merge(student_data, school_data, how="left", on = ["school_name", "school_name"])

In [188]:
### DISTRICT SUMMARY ###

# Calculate the total number of schools in the district
total_number_of_schools = school_data_whole['school_name'].nunique()


# Calculate the total number of students in the district
total_number_of_students = school_data_whole['student_name'].count()


# Calculate the total budget for the district
total_budget = school_data['budget'].sum()


# Calculate the average math score across the district
avg_math_score = school_data_whole['math_score'].mean(skipna=True)

# Calculate the average reading score across the district
avg_reading_score = school_data_whole['reading_score'].mean(skipna=True)

# Calculate the percentage of students with a passing math score, 70 or greater
percent_passing_math = len(school_data_whole[school_data_whole['math_score']>=70])/(total_number_of_students)


# Calculate the percentage of students with a passing reading score, 70 or greater
percent_passing_reading = len(school_data_whole[school_data_whole['reading_score']>=70])/(total_number_of_students)


# Calculate the percentage of students with passing math and reading scores
percent_passing_both = len(school_data_whole[(school_data_whole['math_score']>=70)&(school_data_whole['reading_score']>=70)])/(total_number_of_students)


# Create a dataframe to hold the results above
district_summary = {'Total Schools':[total_number_of_schools],'Total Students':[total_number_of_students],'Total Budget':[total_budget],'Average Math Score':[avg_math_score],'Average Reading Score':[avg_reading_score], 
                    '% Passing Math':[percent_passing_math],'% Passing Reading':[percent_passing_reading],'% Overall Passing':[percent_passing_both]}
district_summary_df = pd.DataFrame(district_summary, columns = ['Total Schools','Total Students','Total Budget','Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing'])

# Format cells
district_summary_df.style.format({"Total Students":"{:,}","Total Budget":"${:,.2f}","Average Math Score":"{:.2f}","Average Reading Score":"{:.2f}",
                                  "% Passing Math":"{:.2%}","% Passing Reading":"{:.2%}","% Overall Passing":"{:.2%}"})

In [189]:
### SCHOOL SUMMARY ###

# Group the merged data frames by school name  
group_by_school = school_data_whole.groupby(['school_name'])
group_by_school.count() 

# Determine the school type for each school
school_type = group_by_school['type'].first()
school_type

##school_names = school_data_whole['school_name'].unique()

# Determine the total number of students at each school
school_students = group_by_school['size'].first()
school_students

# Determine the total budget for each school
school_budget = group_by_school['budget'].first()
school_budget

# Calculate the per student budget for each school
school_budget_per_student = (school_budget/school_students)
school_budget_per_student

# Calculate the average math score for each school
school_avg_math = group_by_school['math_score'].mean()
school_avg_math

# Calculate the average reading score for each school
school_avg_reading = group_by_school['reading_score'].mean()
school_avg_reading


# Calculate the percent passing math for each school
school_passing_math = school_data_whole[school_data_whole['math_score']>=70].groupby(['school_name']).size()
school_percent_pass_math = (school_passing_math/school_students)
school_percent_pass_math

# Calculate the percent passing reading for each school
school_passing_reading = school_data_whole[school_data_whole['reading_score']>=70].groupby(['school_name']).size()
school_percent_pass_read = (school_passing_reading/school_students)


# Calculate the percent passing both for each school
school_ovr_pass = school_data_whole[(school_data_whole['math_score']>=70)&(school_data_whole['reading_score']>=70)].groupby(['school_name']).size()
school_ovr_pass_perc = (school_ovr_pass/school_students)

# Create a dataframe to hold the results above

school_summary_df = pd.DataFrame({'School Type':school_type,'Total Students':school_students,'Total School Budget':school_budget,'Per Student Budget':school_budget_per_student
                 ,'Average Math Score':school_avg_math,'Average Reading Score':school_avg_reading,'% Passing Math':school_percent_pass_math,
                 '% Passing Reading':school_percent_pass_read,'% Overall Passing':school_ovr_pass_perc})

# Format Cells
school_summary_df.style.format({"Total Students":"{:,}",
                                "Total School Budget":"${:,.2f}",
                                "Per Student Budget":"{:,.2f}",
                                "Average Math Score":"{:.2f}",
                                "Average Reading Score":"{:.2f}",
                                "% Passing Math":"{:.2%}",
                                "% Passing Reading":"{:.2%}",
                                "% Overall Passing":"{:.2%}"})

In [190]:
### Top Performing Schools (By % Overall Passing) ###

# Sort and display the top five performing schools by % overall passing
top_schools = school_summary_df.sort_values(by='% Overall Passing',ascending=False)


top_schools.head().style.format({"Total Students":"{:,}",
                                "Total School Budget":"${:,.2f}",
                                "Per Student Budget":"{:,.2f}",
                                "Average Math Score":"{:.2f}",
                                "Average Reading Score":"{:.2f}",
                                "% Passing Math":"{:.2%}",
                                "% Passing Reading":"{:.2%}",
                                "% Overall Passing":"{:.2%}"})

In [191]:
### Bottom Performing Schools (By % Overall Passing) ###

# Sort and display the bottom five performing schools by % overall passing
bottom_schools = school_summary_df.sort_values(by='% Overall Passing')


bottom_schools.head().style.format({"Total Students":"{:,}",
                                "Total School Budget":"${:,.2f}",
                                "Per Student Budget":"{:,.2f}",
                                "Average Math Score":"{:.2f}",
                                "Average Reading Score":"{:.2f}",
                                "% Passing Math":"{:.2%}",
                                "% Passing Reading":"{:.2%}",
                                "% Overall Passing":"{:.2%}"})

In [192]:
### Math Scores by Grade ###

# Define a variable to calculate each grades' average math score for each school
nine_avg_math = student_data.loc[student_data['grade']=='9th'].groupby('school_name')['math_score'].mean()
ten_avg_math = student_data.loc[student_data['grade']=='10th'].groupby('school_name')['math_score'].mean()
eleven_avg_math = student_data.loc[student_data['grade']=='11th'].groupby('school_name')['math_score'].mean()
twelve_avg_math = student_data.loc[student_data['grade']=='12th'].groupby('school_name')['math_score'].mean()

# Create pandas dataframe containing variables above
all_avg_math = pd.DataFrame({"9th":nine_avg_math,"10th":ten_avg_math,"11th":eleven_avg_math,"12th":twelve_avg_math})
all_avg_math = all_avg_math[['9th','10th','11th','12th']]
all_avg_math.index.name = "School Name"

# Format Cells
all_avg_math.style.format({'9th':'{:.2f}','10th':'{:.2f}','11th':'{:.2f}','12th':'{:.2f}'})

In [193]:
### Reading Scores by Grade ###
# Define a variable to calculate each grades' average math score for each school
nine_avg_read = student_data.loc[student_data['grade']=='9th'].groupby('school_name')['reading_score'].mean()
ten_avg_read = student_data.loc[student_data['grade']=='10th'].groupby('school_name')['reading_score'].mean()
eleven_avg_read = student_data.loc[student_data['grade']=='11th'].groupby('school_name')['reading_score'].mean()
twelve_avg_read = student_data.loc[student_data['grade']=='12th'].groupby('school_name')['reading_score'].mean()

# Create pandas dataframe containing variables above
all_avg_read = pd.DataFrame({"9th":nine_avg_read,"10th":ten_avg_read,"11th":eleven_avg_read,"12th":twelve_avg_read})
all_avg_read = all_avg_math[['9th','10th','11th','12th']]
all_avg_read.index.name = "School Name"

# Format Cells
all_avg_math.style.format({'9th':'{:.2f}','10th':'{:.2f}','11th':'{:.2f}','12th':'{:.2f}'})

In [208]:
### Scores by School Spending ###

# Create bins to hold per student spending ranges. Be sure to have one more than ranges.
bins = [0, 584.99, 614, 644, 999.99]
bin_names = ["<$585","$585-614","$615-644",">$644"]



# Create a new dataframe containing the five metrics of student success from above
# scores_by_spending = school_summary_df.loc[:,['Average Math Score','Average Reading Score','% Passing Math','% Passing Reading','% Overall Passing']]

# Add a column titled 'Spending Ranges (Per Student)' that uses the created bins above
school_data_whole['Spending Ranges (Per Student)'] = pd.cut(school_data_whole['budget']/school_data_whole['size'],bins,labels=bin_names)
scores_by_spending = school_data_whole.groupby('Spending Ranges (Per Student)')

# Calculate average math score by spending
by_spend_math = scores_by_spending['math_score'].mean()

# Calculate average math score by spending
by_spend_read = scores_by_spending['reading_score'].mean()

# Calculate percentage passing math by spending
spend_perc_math = school_data_whole[school_data_whole['math_score']>=70].groupby('Spending Ranges (Per Student)')['Student ID'].count()/scores_by_spending['Student ID'].count()

# Calculate percentage passing reading by spending
spend_perc_read = school_data_whole[school_data_whole['reading_score']>=70].groupby('Spending Ranges (Per Student)')['Student ID'].count()/scores_by_spending['Student ID'].count()


# Calculate percentage overall percentage by spending
spend_perc_ovr = school_data_whole[(school_data_whole['math_score']>=70) & (school_data_whole['reading_score']>=70)].groupby('Spending Ranges (Per Student)')['Student ID'].count()/scores_by_spending['Student ID'].count()




# Foramt Cells
 ##scores_by_spending.style.format({"Average Math Score":"{:.2f}",
                                #"Average Reading Score":"{:.2f}",
                                #"% Passing Math":"{:.2%}",
                                #"% Passing Reading":"{:.2%}",
                                #"% Overall Passing":"{:.2%}"})
    
    
print(spend_perc_ovr)

Spending Ranges (Per Student)
<$585       0.906407
$585-614    0.901212
$615-644    0.602893
>$644       0.535288
Name: Student ID, dtype: float64

In [ ]:
### Scores by School Size ###

In [209]:
### Scores by School Type ###

group_type = school_data_whole.groupby('type')